<!--<div class='jumbotron'>
  <p>Albums</p>
  <div class='container'>
    <br>
      <ng-select [items]="limits" (selected)="selected($event)"></ng-select>
    <br>
  </div>
  <div class='container-fluid'>
    <div class="table">
      <div class="row">
        <div class="col-xs-6 col-sm-3" *ngFor="let album of albums">
       <img [src]="album.thumbnailUrl" (click)="show(album.url)" />
      </div>
      </div>
    </div>
    <div *ngIf="event">
      <img [src]="event" />
    </div>
  </div>
</div>-->